<div class="container-fluid bg-footer">
  <footer>
    <a class="rounded btn-join mt-5 mb-5 p-2" href="/account/signup">Junte-se a Comunidade</a>

    <div class="mb-5">
      <h3>O básico</h3>
      <ul>
        <li><a href="/about">Sobre o TMDb</a></li>
        <li><a href="/about/staying-in-touch">Contate-nos</a></li>
        <li><a href="/talk">Suporte</a></li>
        <li><a href="/documentation/api">API</a></li>
        <li><a href="https://blog.themoviedb.org/" target="_blank" rel="noopener">Blog</a></li>
      </ul>
    </div>
    <div class="mb-5">
      <h3>Envolva-se</h3>
      <ul>
        <li><a href="/bible"><span class="glyphicons glyphicons-asterisk"></span> Bíblia do Colaborador</a></li>
        <li><a href="/apps">Aplicativos de terceiros</a></li>
        <li><a href="/movie/new">Adicionar um novo filme</a></li>
        <li><a href="/tv/new">Adicionar uma nova Série</a></li>
      </ul>
    </div>
    <div class="mb-5">
      <h3>Comunidade</h3>
      <ul>
        <li><a href="/documentation/community/guidelines">Diretrizes</a></li>
        <li><a href="/leaderboard">Placar de colaboradores</a></li>
        <li><a href="/discuss">Fóruns</a></li>
        <li><a href="https://twitter.com/themoviedb" target="_blank" rel="noopener">Twitter</a></li>
        <li><a href="https://www.facebook.com/themoviedb" target="_blank" rel="noopener">Facebook</a></li>
      </ul>
    </div>
    <div class="mb-5">
      <h3>Legalidade</h3>
      <ul>
        <li><a href="/documentation/website/terms-of-use">Termos de uso</a></li>
        <li><a href="/privacy-policy">Política de privacidade</a></li>
      </ul>
    </div>
  </footer>
</div>