@import '_colors'

.bg-footer
    background: linear-gradient(to top right, #2455a9, #00d573)
    padding-bottom: 40px

.btn-join
    color: $color-five
    border-color: #fff
    background-color: #fff
    font-size: 1.3em
    font-weight: bold
    display: inline-block
    word-wrap: break-word
    white-space: normal
    text-transform: uppercase
    font-family: 'Source Sans Pro', Arial, sans-serif
    text-decoration: none

h3, ul, a
    color: #fff    	
    font-family: 'Source Sans Pro', Arial, sans-serif
    text-decoration: none

h3
    font-weight: 700
    text-transform: uppercase
    font-size: 1.4em

footer li
    margin: 10px 0
    a
        font-size: 1.2em

ul
    list-style: none
