<div class="bg-footer">
  <footer class="container-fluid">
    <div class="desktop">
        <img src="/assets/images/logo.svg" alt="The Movie Database (TMDb)" width="130" height="116">
        <a class="rounded btn-join mt-5 mb-5 p-2" tmp-href="/account/signup">Junte-se a Comunidade</a>    
    </div>
    <a class="mobile rounded btn-join mt-5 mb-5 p-2" tmp-href="/account/signup">Junte-se a Comunidade</a>

    <div class="mb-5">
      <h3>O básico</h3>
      <ul>
        <li><a tmp-href="/about">Sobre o TMDb</a></li>
        <li><a tmp-href="/about/staying-in-touch">Contate-nos</a></li>
        <li><a tmp-href="/talk">Suporte</a></li>
        <li><a tmp-href="/documentation/api">API</a></li>
        <li><a tmp-href="https://blog.themoviedb.org/" target="_blank" rel="noopener">Blog</a></li>
      </ul>
    </div>
    <div class="mb-5">
      <h3>Envolva-se</h3>
      <ul>
        <li><a tmp-href="/bible"><span class="glyphicons glyphicons-asterisk"></span> Bíblia do Colaborador</a></li>
        <li><a tmp-href="/apps">Aplicativos de terceiros</a></li>
        <li><a tmp-href="/movie/new">Adicionar um novo filme</a></li>
        <li><a tmp-href="/tv/new">Adicionar uma nova Série</a></li>
      </ul>
    </div>
    <div class="mb-5">
      <h3>Comunidade</h3>
      <ul>
        <li><a tmp-href="/documentation/community/guidelines">Diretrizes</a></li>
        <li><a tmp-href="/leaderboard">Placar de colaboradores</a></li>
        <li><a tmp-href="/discuss">Fóruns</a></li>
        <li><a tmp-href="https://twitter.com/themoviedb" target="_blank" rel="noopener">Twitter</a></li>
        <li><a tmp-href="https://www.facebook.com/themoviedb" target="_blank" rel="noopener">Facebook</a></li>
      </ul>
    </div>
    <div class="mb-5">
      <h3>Legalidade</h3>
      <ul>
        <li><a tmp-href="/documentation/website/terms-of-use">Termos de uso</a></li>
        <li><a tmp-href="/privacy-policy">Política de privacidade</a></li>
      </ul>
    </div>
  </footer>
</div>