@import '_colors'

.bg-footer
    background: linear-gradient(to top right, #2455a9, #00d573)
    padding-bottom: 40px

@media screen and ( min-width: 1200px )
    .bg-footer
        background: url('/assets/images/bg-footer.jpg'), radial-gradient(at 30% top, rgba(7, 64, 52, 1) 0%, rgba(8, 28, 36, 1) 70%)
        background-repeat: no-repeat
        height: 450px
        box-sizing: border-box
        padding: 0
        background-position: center top
        background-size: cover
        background-repeat: no-repeat
        display: flex
        align-items: center
        footer
            display: flex
            justify-content: space-between
            > div
                margin-right: 20px
                min-width: 0
                box-sizing: border-box
            .desktop
                width: 230px
                text-align: right
                position: relative
                top: -36px
                right: 0
                img
                    display: block
                    position: absolute
                    top: 0
                    right: 0
    .btn-join
        position: relative
        top: 140px
        color: #01d277 !important
        font-size: 1.3em !important

.btn-join
    color: $color-five
    border-color: #fff
    background-color: #fff
    font-size: 1.2em
    font-weight: bold
    display: inline-block
    word-wrap: break-word
    white-space: normal
    text-transform: uppercase
    font-family: 'Source Sans Pro', Arial, sans-serif
    text-decoration: none
    padding: 8px 16px !important

h3, ul, a
    color: #fff
    font-family: 'Source Sans Pro', Arial, sans-serif
    text-decoration: none

h3
    font-weight: 700
    text-transform: uppercase
    font-size: 1.3em

footer li
    margin: 10px 0
    a
        font-size: 1.2em

ul
    list-style: none
