<div class="mobile-menu">
  <ul>
    <li>
      <a class="no_click" temp-href="/discover">Explorar</a>
      <ul class="sub_menu discover hide">
        <li><a temp-href="/discover/movie">Filmes</a></li>
        <li><a temp-href="/discover/tv">Séries</a></li>
      </ul>
    </li>
    <li>
      <a class="no_click" temp-href="/movie">Filmes</a>
      <ul class="sub_menu movie hide">
        <li><a temp-href="/movie">Populares</a></li>
        <li><a temp-href="/movie/top-rated">Mais bem avaliados</a></li>
        <li><a temp-href="/movie/upcoming">Próximas estreias</a></li>
        <li><a temp-href="/movie/now-playing">Em cartaz</a></li>
      </ul>
    </li>
    <li>
      <a class="no_click" temp-href="/tv">Séries</a>
      <ul class="sub_menu tv hide">
        <li><a temp-href="/tv">Populares</a></li>
        <li><a temp-href="/tv/top-rated">Mais bem avaliadas</a></li>
        <li><a temp-href="/tv/on-the-air">Na TV</a></li>
        <li><a temp-href="/tv/airing-today">Em exibição hoje</a></li>
      </ul>
    </li>
    <li>
      <a class="no_click" temp-href="/person">Pessoas</a>
      <ul class="sub_menu person hide">
        <li><a temp-href="/person">Pessoas Populares</a></li>
      </ul>
    </li>
    <li>
      <a temp-href="/discuss">Discussões</a>
    </li>
  </ul>

  <ul class="small">
    <li><a temp-href="/bible">Bíblia do Colaborador</a></li>
    <li><a temp-href="/apps">Apps</a></li>
    <li><a temp-href="/discuss">Fóruns</a></li>
    <li><a temp-href="/leaderboard">Placar de colaboradores</a></li>
    <li><a temp-href="/contribute">Contribua</a></li>
    <li><a temp-href="/documentation/api">API</a></li>
    <li><a temp-href="/talk">Suporte</a></li>
    <li><a temp-href="/about">Sobre</a></li>
  </ul>

  <ul class="small">

    <li><a temp-href="/login">Entrar</a></li>

  </ul>
</div>


<div class="mobile-desktop" style="display: none;">
  <ul>
    <li>
      <a class="no_click" temp-href="/discover">Explorar</a>
      <ul class="sub_menu discover hide">
        <li><a temp-href="/discover/movie">Filmes</a></li>
        <li><a temp-href="/discover/tv">Séries</a></li>
      </ul>
    </li>
    <li>
      <a class="no_click" temp-href="/movie">Filmes</a>
      <ul class="sub_menu movie hide">
        <li><a temp-href="/movie">Populares</a></li>
        <li><a temp-href="/movie/top-rated">Mais bem avaliados</a></li>
        <li><a temp-href="/movie/upcoming">Próximas estreias</a></li>
        <li><a temp-href="/movie/now-playing">Em cartaz</a></li>
      </ul>
    </li>
    <li>
      <a class="no_click" temp-href="/tv">Séries</a>
      <ul class="sub_menu tv hide">
        <li><a temp-href="/tv">Populares</a></li>
        <li><a temp-href="/tv/top-rated">Mais bem avaliadas</a></li>
        <li><a temp-href="/tv/on-the-air">Na TV</a></li>
        <li><a temp-href="/tv/airing-today">Em exibição hoje</a></li>
      </ul>
    </li>
    <li>
      <a class="no_click" temp-href="/person">Pessoas</a>
      <ul class="sub_menu person hide">
        <li><a temp-href="/person">Pessoas Populares</a></li>
      </ul>
    </li>
    <li>
      <a temp-href="/discuss">Discussões</a>
    </li>
  </ul>

  <ul class="small">
    <li><a temp-href="/bible">Bíblia do Colaborador</a></li>
    <li><a temp-href="/apps">Apps</a></li>
    <li><a temp-href="/discuss">Fóruns</a></li>
    <li><a temp-href="/leaderboard">Placar de colaboradores</a></li>
    <li><a temp-href="/contribute">Contribua</a></li>
    <li><a temp-href="/documentation/api">API</a></li>
    <li><a temp-href="/talk">Suporte</a></li>
    <li><a temp-href="/about">Sobre</a></li>
  </ul>

  <ul class="small">

    <li><a temp-href="/login">Entrar</a></li>

  </ul>
</div>

<div class="container-fluid">
  <header>
      <div class="position-fixed">
          <div class="bg-one-header">
              <div class="col-md-12 text-center">
                <a (click)="toggleMenuMobile()">
                  <i class="fas fa-bars text-white float-left mt-4" ></i>
                </a>       
                <img class="mt-3 mb-3" src="/assets/images/logo.svg" alt="The Movie Database (TMDb)" width="45" height="40">
                <i class="fas fa-user text-white float-right mt-4"></i>
              </div>
            </div>
        
            <div class="row">
              <div class="search">
                <span class="mt-2 d-inline-block float-left"><i class="fas fa-search"></i></span>
                <input type="text" placeholder="Buscar" class="float-left d-inline-block pl-2 pr-2 mt-2">
                <span class="pl-1 mt-2 d-inline-block float-right"><i class="fas fa-times"></i></span>
              </div>            
            </div>

      </div>
    
  </header>

</div>