h2
    font-size: 1.5em
    margin: 15px 0
    font-weight: 600
    font-family: 'Source Sans Pro', Arial, sans-serif

label
    margin: 15px 0 7px 0

img.mobile
    width: 100%

.content
    padding: 6px 10px
    a 
        font-size: 1.1em
        font-weight: bold
        display: block
        margin-bottom: 5px
    span
        font-size: 1em
.card-movie
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)
    margin-bottom: 16px

.pagination
    margin: 10px 0
    text-align: center
    display: block !important
    span
        color: #000
        display: inline-block
        margin: 5px
        font-weight: bold
        cursor: pointer
        &.active
            border: 1px solid #000
            padding: 3px 9px