<div class="container-fluid">
  <h2>Explorar</h2>
  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <label class="d-block" for="year">Ano</label>
        <select2 [data]="years" [options]="options" [cssImport]="true"></select2>
      </div>
      <div class="col-md-3">
        <label class="d-block" for="year">Ordenar por</label>
        <select2 [data]="orderBy" [options]="options" [cssImport]="true"></select2>
      </div>
      <div class="col-md-3">
        <label class="d-block" for="year">Gêneros</label>
        <select2 [data]="genre" [options]="optionsMultiple" [cssImport]="true"></select2>
      </div>
    </div>
  </div>
  <h2>Filmes</h2>


</div>